
html {
    background-color: lightslategray;    
}

body {
    background-color: #112b3a;
    background-repeat: repeat;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Nunito', sans-serif;
    font-size: 120%;
}

header {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

section {
    margin: 5px;
    padding: 10px 30px;
    background-color: whitesmoke;
    border: 2px solid #0d2534;
    border-radius: 0.5rem;
}

table {
    display: flex;
    align-items: start;
    padding-top: 20px;
    width: 100%;
}

.columna1 {
    width: 20%;
}

.columna2 {
    width: 80%; 
}

ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px; 
}

li {
    padding-bottom: 15px;
}

.lista_1 {
    list-style-type: circle;
}

.lista_2 {
    list-style-type:square;
    margin-left: 30px;
}

footer {
    padding: 15px;
    color: white;
}

#exp_lab, #exp_art, #form, #form_ad #contacto {
    display: block;
}

.flecha_menu {
    transform: rotate(270deg);
}

.contacto {
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contacto img {
    margin-left: 10px;
}
