html {
    background-color: lightslategray;    
}

body {
    background-color: #112b3a;
    background-repeat: repeat;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Nunito', sans-serif;
    font-size: 120%;
    border-radius: 0.5rem;
}

header {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

section {
    margin: 5px;
    padding: 10px 30px;
    background-color: whitesmoke;
    border: 2px solid #0d2534;
    border-radius: 0.5rem;
}

table {
    padding-top: 20px;
    width: 100%;
}

.columna_1 {
    width: 15%;
}

.columna_2 {
    width: 85%; 
}

td {
    vertical-align: top;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px; 
}

li {
    padding-bottom: 15px;
}

.lista_1 {
    list-style-type: circle;
}

.lista_2 {
    list-style-type:square;
    margin-left: 30px;
}

footer {
    padding: 15px;
    color: white;
}

#exp_lab, #exp_art, #form, #form_ad, #contacto {
    display: none;
}

.flecha_menu {
    height: 22px; 
    width: 22px;
    margin-left: 2px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.contacto {
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contacto img {
    margin-left: 10px;
}

.icono_blanco {
    filter: invert();
    height: 20px;
    width: 20px;
}

img:hover {
    cursor: pointer;
}

.imagen_balanceo:hover {
    cursor: default;
}

.imagen_balanceo {
    position: relative;
    animation: balance 5s ease-in-out infinite;
}

@keyframes balance {
    0% {
        transform: rotate(-5deg) translateY(-5px);
    }
    50% {
        transform: rotate(5deg) translateY(5px);
    }
    100% {
        transform: rotate(-5deg) translateY(-5px);
    }
  }